<footer>
    <ul class="footer_elements">
        <li></li>
        <li><a href="/">Top</li></a>
        <li>Search</li>
        <li>Jobs</li>
        <li>Contact us</li>
    </ul>
    <ul class="snsButtons">
        <li class="snsButtons_twitter"><i class="fa fa-twitter"></i><span class="snsButtons_label"></span></li>
        <li class="snsButtons_facebook"><i class="fa fa-facebook-square"></i><span class="snsButtons_label"></span></li>
        <li class="snsButtons_instagram"><i class="fa fa-instagram"></i><span class="snsButtons_label"></span></li>
    </ul>
    <p><span>&copy;</span> 2020 ANY, Inc. All rights reserved<br>Mizuho Okimoto</p>
</footer>