<header>
    <!-- START HEADER -->
    <div class="container">

        <!-- NAVIGATION BAR  -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light col-lg-12">
            <!-- LOGO -->
            <a class="navbar-brand" href="/">
                <img class="header-logo" src="images/logo.png" alt="company_logo" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- don't forget # -->
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <!-- 中央寄せ-->

                <!-- navigation list -->
                <ul class="navbar-nav nav nav-pills nav-fill" id="list">
                    <li class="nav-item"><a class="nav-link" href="#about_link">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#promo_link">Promotion</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact_link">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/listing">Room List</a></li>
                    {{#if user}}
                    <li class="btn btn-outline-success"><a class="nav-link" href="/logout">Log out</a></li>
                    {{else}}
                    <li class="btn btn-outline-success"><a class="nav-link" href="/login">Log in</a></li>
                    <li class="btn btn-outline-success"><a class="nav-link" href="/signup">Sign up</a></li>
                    {{/if}}
                </ul>


            </div>
        </nav>
    </div>



</header> <!-- END HEADER -->