<!DOCTYPE html> {{!-- Do I need this?? --}}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- bootstrap -->
    <!-- FOR USING Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <!-- FOR USING BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- FOR custom css file -->
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

    <!-- FOR LOADING ICONS -->
    <script src="https://kit.fontawesome.com/39ea4545e9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <title>-ANY- Anywhere, Anytime, there is your home</title>
</head>


<header>
    <!-- START HEADER -->
    <div class="container">

        <!-- NAVIGATION BAR  -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light col-lg-12">
            <!-- LOGO -->
            <a class="navbar-brand" href="/">
                <img class="header-logo" src="/images/logo.png" alt="company_logo" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- don't forget # -->
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <!-- 中央寄せ-->

                <!-- navigation list -->
                <ul class="navbar-nav nav nav-pills nav-fill" id="list">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about_link">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#promo_link">Promotion</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact_link">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/listing">Room List</a></li>
                    {{#if user}}
                    <li class="btn btn-outline-success"><a class="nav-link" href="/logout">Log out</a></li>
                    {{else}}
                    <li class="btn btn-outline-success"><a class="nav-link" href="/login">Log in</a></li>
                    <li class="btn btn-outline-success"><a class="nav-link" href="/signup">Sign up</a></li>
                    {{/if}}
                </ul>


            </div>
        </nav>
    </div>



</header> <!-- END HEADER -->

<!-- FOR USING JavaScript and Bootstrap -->
<script type="text/javascript" src="../js/script.js"></script>