<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- bootstrap -->
  <!-- FOR USING Jquery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <!-- FOR USING BOOTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- FOR custom css file -->
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">

  <!-- FOR LOADING ICONS -->
  <script src="https://kit.fontawesome.com/39ea4545e9.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
  <title>-ANY- House/Room Details</title>
</head>

<body>

  {{> header data}}

  <!-- RUN JavaScript / DETAILS PICTURE -->
  <div class="container">
    <div class="booking">
      <div class="result_list"></div>
      <!----------------- BOOKING -------------------------->
      <h2 class="heading">Booking Now</h2>
      <form action="" class="room_detail_form">
        <!-- START FORM GROUP -->

        <div class="form-group">

          <div class="book_now">
            <label class="labels" for="name"><b>Name</b></label><br>
            <input class="inputs" type="text" placeholder="Enter your Name" name="name" id="name" required>
          </div>
          <div class="book_now">
            <label class="labels" for="email"><b>Email</b></label><br>
            <input class="inputs" type="email" placeholder="Enter Email" name="email" id="email" required>
            <!-- type="text" ?? -->
          </div>
          <div class="book_now">
            <label class="labels" for="phone"><b>Phone Number</b></label><br>
            <input class="inputs" type="text" placeholder="Enter your phone number" name="phone" id="phone" required>
          </div>
          <div class="book_now">
            <label class="labels" for="street"><b>Street Address</b></label><br>
            <input class="inputs" type="text" placeholder="Enter your street address" name="street" id="street"
              required>
          </div>
          <div class="book_now">
            <label class="labels" for="city"><b>City</b></label><br>
            <input class="inputs" type="text" placeholder="Enter your city" name="city" id="city" required>
          </div>
          <div class="book_now">
            <label class="labels" for="country"><b>County</b></label><br>
            <input class="inputs" type="text" placeholder="Enter your country address" name="country" id="country"
              required>
          </div>

          <!--  Details -->
          <h2 class="heading">Details</h2>

          <div class="book_now">
            <i class="fa fa-sort"></i>
            <label for="people"><i class="fa fa-male" id="people"></i>&nbsp;&nbsp;Number of guests</label>
            <select class="people">
              <option value="blank"></option>
              <option value="1">1</option>
              <option value="2" selected>2</option>
              <option value="3">3</option>
            </select>
          </div>

          <div class="book_now">
            <label for="arrive" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Arrive</label>
            <input type="date" id="arrive" class="floatLabel" name="arrive" value="<?php echo date('Y-m-d'); ?>">
          </div>

          <div class="book_now">
            <label for="depart" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Depart</label>
            <input type="date" id="depart" class="floatLabel" name="depart" value="<?php echo date('Y-m-d'); ?>" />
          </div>
          <div class="book_now comment_section">
            <label class="comment_label" for="comments">Comments</label>
            <textarea name="comments" id="comments"></textarea>
          </div>
          <button type="submit" value="Submit" class="bookbtn">Book Now</button>
          <!-- END FORM -->
      </form>
    </div>
    <!------ END class="booking"------>
    <!------------------------------------- -->
  </div>
  </div>

  <script type="text/javascript" src="/js/room0Script.js"></script>
  <!-- FOR USING JavaScript and Bootstrap -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

{{> footer}}

</html>