<!doctype html>
<html>

<head>
    <title>Dashboard</title>


</head>

<body>

    {{> header login_user}}
    <h1>DASHBOARD</h1>
    <h3>Hello {{login_user}}</h3>
    {{!-- <p>Welcome to your dashboard</p>
  <p>Here is the information we have on file for you:</p>
  {{!-- <h4>username: {{user.username}} </h4> --}}
    {{!-- <h4>email: {{user.login_email}}</h4> --}}


    <h1>Cars</h1>
    <a href="/Cars">View Cars</a>

    {{> footer user}}
</body>

</html>