/*---------------------- DEFINE RESPONSIVE DESIGN --------------------------*/

/*----------------- START CONTAINER AND OTHER COMMON PART ------------------*/
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}
body {
  /* font-family: 'Lucida Grande'; */
  font-family: "Roboto Slab", serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/*-------------- END CONTAINER AND OTHER COMMON PART ---------------------*/

/*-------------------------- START HEADER --------------------------------*/
/* header {
  width: 100%;
  height: 65px;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  z-index: 10;
} */

.container {
  max-width: 100%;
  z-index: 10;
  color: #000;
  padding: 0px;
}
.header-logo {
  /* padding-top: 13px; */
  width: 124px;
  float: left;
}
.navbar-nav {
  width: 80%;
  font-size: 20px;
  /* color: #000; */
  justify-content: space-around;
  font-family: "Roboto Slab", serif;
}

.navbar-nav:hover {
  color: #1b1653;
}

.navbtn {
  width: 100px;
  padding: 10px 10px 10px 10px;
  background-color: rgba(39, 39, 129, 0.863);
  border-radius: 10px;
  border: none;
  margin-left: 20px;
}
.navbtn:hover {
  background-color: rgba(45, 45, 124, 0.596);
}

/* nav {
  width: 100%;
} */
/* #list {
  display: flex;
} */
/* .nav li {
  font-family: 'Roboto Slab', serif;
  padding: 20px 30px 16px 60px;
  list-style: none;
  color: #000;
  /* justify-content: center; 
} */
.nav li:hover {
  opacity: 0.5;
}
.nav li a:visited {
  color: #000;
}

.btn-outline-success {
  margin-right: 10px;
}
/*----------------------------------------*/
.header-container {
  float: right;
  font-family: "Roboto Slab", serif;
  background-color: whitesmoke;
  transition: all 0.5s;
  display: none;
  width: 50%;
  margin-right: 70px;
}
.header-container form {
  margin-top: 50px;
}
header .open {
  display: initial;
  overflow: auto;
  height: 75vh;
  padding-top: 20px;
  margin: 40px 20px;
  overflow: scroll;
}
.header-container2 {
  float: left;
  font-family: "Roboto Slab", serif;
  background-color: whitesmoke;
  transition: all 0.5s;
  display: none;
  width: 50%;
  margin-left: 260px;
  padding: 50px;
}
/*-------------------------- END HEADER ---------------------------------*/

/*-------------------------- START LOG IN -------------------------------*/

.login-header,
.login-header h4,
.close {
  background-color: #5cb85c;
  color: white !important;
  text-align: center;
  font-size: 30px;
}
.login-body h2 {
  margin: 20px;
}

.login-content {
  width: 60%;
  margin: auto;
  text-align: center;
}
.login-content p {
  text-align: center;
  margin: auto;
}

.login-footer {
  background-color: #f9f9f9;
}

.login_container {
  /* float: right; */
  font-family: "Roboto Slab", serif;
  background-color: whitesmoke;
  transition: all 0.5s;
  /* display: none; */
  width: 50%;
  /* margin-right: 70px; */
  border: 1px solid #69696934;
  /* padding: 20px; */
}
.login_container a {
  text-align: center;
  margin-top: 20px;
  float: left;
  display: block;
  line-height: 35px;
  color: white;
  padding: 0px 25px;
}
/* .loginbtn {
  background-color: #530f0f;
  color: white;
  text-align: center;
  line-height: 30px;
  width: 100px;
  margin-left: 30px;
}
.loginbtn:hover {
  opacity: 0.5;
} */
.login_form {
  text-align: center;
}
.login-header_extend {
  display: block;
}

/*-------------------------- END LOG IN ---------------------------------*/

/*-------------------------- START SIGN UP ------------------------------*/
/*  .signup_container {
  float: right;
  font-family: 'Roboto Slab', serif;
  background-color: whitesmoke;
  transition: all 0.5s;
  display: none; 
  width: 80%;
  margin-right: 70px;
  border: 1px solid #69696934;
}*/

.signup-header_extend p {
  font-size: 0.6em;
}

.signup-content-size {
  width: 600px;
}

.signup_top {
  text-align: center;
  margin: 0 auto;
}
.signup_form input {
  border: 5px solid #69696934;
}

.signup_container a {
  text-align: center;
  margin-top: 20px;
  float: left;
  display: block;
  line-height: 35px;
  color: white;
  padding: 0px 25px;
}

.header-container,
.container,
.signup_social-media a {
  text-align: center;
  align-items: center;
}
.signup_social-media {
  text-align: center;
  align-items: center;
  margin-top: 30px;
  display: flex;
}
.signup_formgroup {
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.signup_form {
  /* border: 1px solid #ccc; */
  text-align: left;
}
.signup_form b {
  margin-right: 10px;
}
/* Full-width input fields */
.signup_form input[type="text"],
input[type="password"],
input[type="email"] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.596);
  background: #f1f1f1;
  text-align: left;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #6461619d;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.sign_up {
  /* background-color: #4caf50; */
  padding: 14px 20px;
  margin: 8px 0;
  height: 20px;
  width: 60%;
  opacity: 0.9;
  overflow-y: scroll;
}
/* .signupbtn {
  background-color: #530f0f;
  color: white;
  text-align: center;
  line-height: 30px;
  width: 100px;
  margin-left: 30px;
}
signup:hover {
  opacity: 1;
} */

/*-------------------------- END SIGN UP --------------------------------*/

/*----------------------- END HEADER CONTENTS ---------------------------*/

/*------------ START TOP WRAPPER (TOP IMAGE AND CATCH) -------------------*/
.top-wrapper {
  padding: 80px 0px 100px 0px;
  background-image: url(/images/top_image1.jpg);
  background-size: cover;
  color: #07004d;
  font-family: "Roboto Slab", serif;
  text-align: center;
  height: 650px;
  width: 100%;
  opacity: 0.8;
}
.top-wrapper h1 {
  opacity: 0.9;
  font-size: 35px;
  letter-spacing: 3px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.top-wrapper p {
  font-size: 35px;
  opacity: 0.9;
  margin-bottom: 3px;
}
/*------------ END TOP WRAPPER (TOP IMAGE AND CATCH ---------------------*/

/*--------------- START SOCIAL MEDIA BUTTON -----------------------------*/
.social-media {
  padding-top: 10px;
  text-align: center;
}
/* .btn {
  border-radius: 3px;
  display: inline-block;
  opacity: 0.8;
} */
.signup-fb {
  background-color: #3b5998;
  color: white;
  margin-right: 10px;
}
.signup-twitter {
  background-color: #55acee;
  color: white;
}
.btn:hover {
  opacity: 1;
}
.fa {
  margin-right: 5px;
}
/*--------------- END SOCIAL MEDIA BUTTON ------------------------------*/

/*----------- START MIDDLE WRAPPER (PROMOTION) -------------------------*/
#promo_link {
  padding-top: 300px;
  margin-top: -300px; /*プロモが中央にくるように調整*/
}

.middle-wrapper {
  background-color: #1b1653;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.middle-wrapper h4 {
  font-size: 20px;
}
.middle-wrapper h5 {
  font-size: 25px;
}
.middle-wrapper .promobtn {
  height: 30px;
  width: 200px;
  background: white;
  border: none;
  color: #1b1653;
  margin-top: 10px;
  font-family: "Roboto Slab", serif;
  box-shadow: 3px 4px 1px #04030e;
  border-radius: 3px;
}
.middle-wrapper .promobtn:hover {
  opacity: 0.8;
  cursor: pointer;
}
/*------------ END MIDDLE WRAPPER (PROMOTION) ----------------------------*/

/*----------------- START MAIN CONTENTS ----------------------------------*/

/* 1 */
.main-wrapper {
  height: auto;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

/*--------------- START HOME SEARCH ENGINE -------------------------------*/

/* 3 */
.search-engine {
  padding-top: 60px;
  padding-bottom: 30px;
  /* text-align: center; 不要？*/
  color: #202020;
  font-family: "Roboto Slab", serif;
}
.search-engine h2 {
  font-weight: normal;
  margin: 15px 15px;
  /* color: #5f5d60; 上で書いてるからここには必要なし*/
}
input::placeholder {
  font-size: 1.3em;
}
/* .search-field {
  height: 5px;
  padding: 20px;
  border: 0.8px solid #808080;
  outline: none;
  width: 500px;
} */
#location {
  width: 500px;
  height: 5px;
  padding: 20px;
  border: 0.8px solid #808080;
  outline: none;
  width: 500px;
  margin: auto;
}
.search-btn {
  height: 43px;
  width: 100px;
  background: #239b76;
  border: none;
  color: #000;
  color: white;
}
.search-btn:hover {
  background: #59ddb5;
  cursor: pointer;
}
.search-box {
  background: whitesmoke;
  padding: 10px;
}
/*--------------- END HOME SEARCH ENGINE ---------------------------------*/

/*--------------- START ABOUT US -----------------------------------------*/
.about {
  margin-top: 5.5em;
  background-color: #959fa52e;
  padding: 45px;
}
.about h2 {
  font-size: 2.5em;
  margin-bottom: 16px;
}
.about_pic {
  object-position: center;
  width: 40%;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
}
.about p {
  font-size: 1.2em;
  color: #625e5e;
  line-height: 25px;
  margin-top: 5px;
}
#about_link {
  padding-top: 120px;
  margin-top: -120px;
}

/*--------------- START LISTING ------------------------------------------*/
/* @media screen and (max-width: 767px) {
  .result_list {
    display: block;
  }
} */

.listing_title {
  margin-top: 80px;
  margin-bottom: 80px;
}
.result_list {
  margin-top: 35px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.result_list .property {
  /* float: left; */
  width: 25%;
  margin-bottom: 50px;
  margin-left: 10px;
  text-align: center;
}
.result_list .property img {
  position: relative;
  /*width: 100%;*/
  margin-bottom: 25px;
  width: 250px; /*画像の大きさを統一するため*/
  height: 250px; /*画像の大きさを統一するため*/
  object-fit: cover; /*画像の大きさを統一してトリミングするため*/
}
.result_list .property:hover img {
  transform: scale(1.1);
  box-shadow: 3px 3px #e2e2e2;
}

.result_list .property h2 {
  color: #530f0f;
  margin-bottom: 3px;
  width: 100%; /* make the text center */
  line-height: 25px;
  font-size: 1.75em;
}
.result_list .property P {
  color: #530f0f;
  width: 80%;
  display: inline-block;
  text-align: center;
}
/*--------------- END LISTING -------------------------------------------*/
/*------ START HOME SECTION ---------------------------------------------*/
.main-wrapper h1 {
  margin: 30px 30px;
}
.section {
  /* margin-top: 35px 35px; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: whitesmoke;
}
.section img {
  position: relative;
  margin: 20px;
  margin-bottom: 25px;
  width: 250px; /*画像の大きさを統一するため*/
  height: 250px; /*画像の大きさを統一するため*/
  object-fit: cover; /*画像の大きさを統一してトリミングするため*/
  border-radius: 3px;
}
.section_item h2 {
  color: #530f0f;
  margin-bottom: 3px;
  width: 100%; /* make the text center */
  line-height: 25px;
  font-size: 1.5em;
}
.section .section_item:hover img {
  transform: scale(1.1);
  box-shadow: 3px 3px #e2e2e2;
}
/*--------------- END HOME SECTION --------------------------------------*/
/*--------------- START FOOTER ------------------------------------------*/
.contact {
  margin: 100px 80px 100px 80px;
  width: 50%;
}
.contact h3 {
  font-size: 24px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom: 15px;
  margin-bottom: 33px;
}
.contact p {
  margin-bottom: 10px;
  font-size: 15px;
}
.contact span {
  color: red;
}
input,
textarea {
  margin-bottom: 30px;
  border: 1px solid #dee7ec;
  width: 300px;
  padding: 6px;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
}
.contact-submit {
  background-color: #239b76;
  color: white;
  font-weight: bold;
  width: 150px;
  font-size: 1em;
}
.contact-submit:hover {
  color: white;
  background-color: #176951;
}
footer {
  /* padding: 10px 50px 10px 90px; */
  /* float: left; */
  /* position: absolute; */
  background-color: #2f5167;
  color: white;
  height: auto;
  width: 100%;
}
footer li {
  padding-bottom: 10px;
  text-decoration: underline;
  color: inherit;
}
.footer_elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
/*don't change the color to purple */
footer a:visited {
  color: white;
}
footer p {
  font-size: 10px;
  margin: auto 0;
  text-align: center;
}
/* ------------- END FOOTER SOCIAL MEDIA ICONS ---------------- */

/* @media (max-width: 767px) {
  footer_social-media li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
} */

.snsButtons {
  margin: 5px;
  padding: 0px;
  text-align: center;
  /* float: right; */
}
.snsButtons a {
  text-decoration: none;
}
/* 各 SNS ボタンのボックス */
.snsButtons li {
  display: inline-block; /* 水平に並べる */
  list-style-type: none; /* 先頭のポッチを消す */
  margin: 2px;
  padding: 6px 0px;
  /* color: white; */
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
/* マウスカーソルを重ねたとき */
.snsButtons li:hover {
  opacity: 0.7;
}
/* クリックしたとき */
.snsButtons li:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
/* アイコン部分 */
.snsButtons i {
  font-size: 18pt;
  min-width: 40px;
  margin: 0px;
  vertical-align: bottom;
}

/* 各 SNS のブランドカラー */
.snsButtons_twitter {
  background: #1da1f2;
}
.snsButtons_facebook {
  background: #3b5998;
}
.snsButtons_instagram {
  background: #ea4c89;
}
/* -------------- END FOOTER SOCIAL MEDIA ICONS ------------------ */
/*--------------- END FOOTER --------------------------------------*/
/*--------------- START ROOM DETAILS PAGE -------------------------*/
.roomdetail {
  margin: 100px 40px;
text-align: center;
}
.room_detail img {
  width: 250px; /*画像の大きさを統一するため*/
  height: 250px; /*画像の大きさを統一するため*/
  object-fit: cover; /*画像の大きさを統一してトリミングするため*/
  flex: 1 0;
  margin: 10px 10px;
}

.room_detail h2 {
  color: #1b1653;
  margin-bottom: 3px;
  width: 100%;
  line-height: 25px;
}
.heading {
  margin-bottom: 20px;
}
/* .booking {
  display: inline-block;
  text-align: center;
  align-items: center;
} */
/* .room_detail_form {
  display: flex;
  justify-content: center;
} */
/* .form-group input {
  margin-right: 10px;
} */
.form_container {
  width: 80%;
  margin: 0 auto;
}

.book_now {
  margin-bottom: 15px;
  font-size: 1em;
}
.labels {
  float: left;
  margin-left: 7em;
}
.comment_label {
  margin-right: 2em;
  margin-bottom: 7em;
}
.comment_section {
  display: flex;
  justify-content: center;
}
/* .form-group {
  flex-direction: column;
  justify-content: center;
} */
.bookbtn {
  margin: 1em auto 2em;
  padding: 1em 3em;
  background-color: #239b76;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}
.form-group b {
  margin-right: 10px;
}
/* Full-width input fields */
/* .form-group input[type="text"],
input[type="password"],
input[type="email"] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.596);
  background: #f1f1f1;
  text-align: left;
} */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  background-color: #ddd;
  outline: none;
}

#comments {
  width: 600px;
}
.form-group input ::placeholder {
  font-size: 0.5em;
}
.form-control {
  font-size: 0.8em !important;
  color: #625e5e;
  height: calc(2.5em + 0.75rem + 2px) !important;
}
.modal-body p {    /* MODAL????? */
  text-align: center;
  margin-bottom: 10px;
}
#create-psw {
  -webkit-text-security: disc;
  margin-bottom: 1px;
}
.booknow_form label {
  display: flex !important;
}

/*--------------- END ROOM DETAILS PAGE -------------------------*/

/*register page*/
.register_container{
  margin-top: 100px;
}

/*adminDashboard page*/
.adminDashboard {
  margin-top: 100px;
}
.photoalbum {
  width: 70%;
  margin:25px;
}
.userDashboard {
  width: 70%;
  margin:25px;
}
.rooms {
  width: 70%;
  margin:25px;
}
.roomEdit {
  width: 70%;
  margin:100px 40px 40px 40px;

}
.photo-tile {
  margin-top:50px;
}
.listing_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photo-tile {
  margin-left:30px;
}